.float_right {float: right;}

.center_and_shrink {display: block;
                    margin: 0 auto;
                    width: 7%;}

#time_box {border: solid black;
            width: fit-content;
            padding-left: 10px;
            padding-right: 10px;
            margin: auto;}

#time_box2 {margin: auto;}

#search_bar_wrapper {
            text-align: center;
            position: relative;
          }

#search_bar { 
              border-radius: 20px;
              height: 20px;
              width: 200px;
              border: solid gray thin;
              padding-left: 5px;
              outline-width: 0;
            }

.city-suggestions {
                position: absolute;
                left: 40%;
                top: 30%;
                width: 165px;
                z-index: 1;
                display: none;
                grid-template-columns: 1fr;
                }

.suggestion {
              border: solid gray thin;
              padding: 10px;
              list-style: none;
              width: 100%;
              text-align: left;
              background-color: #dddddd;
             }

#grid   {display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding-left: 160px;
        }

.bubble_container
{
    width: 200px;
}

.bubble_image 
{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .bubble_image img 
  {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }

.bold_text {font-weight: bold;
            text-align: center;}

.changeSuggestionStyle {
  background-color: #555;
  color: whitesmoke;
}